@font-face {
    font-family: Proxima Nova; /* Имя шрифта */
    src: url(Proxima Nova/Proxima Nova Regular.otf); /* Путь к файлу со шрифтом */
}

html,
body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
	font-family: Proxima Nova;
}

/***** HEADER *****/

.header {	
    display: flex;
	justify-content: flex-end;
	height: 42px;
	background: #2f364a;
    text-align: center;
}
.headerbox {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-basis: 400px;
	font-size: 11pt;
}
a {
	text-decoration: none;
}
.head__link {	
	display: block;
	width: 100%;
	color: #6c758f;
	text-align: center;
	line-height:42px;
    vertical-align: middle;
}
.user i {
	padding: 0 15px;
}
.user .head__link:before {
	content: url(Images/avatar.png);
    display: inline-block;
    vertical-align: top;
	padding: 0 5px 0 0;
}
.helpcenter, .oursupport {
	flex-grow:3;
}
.user {	
	flex-grow:4;
}
.headerbox > *:hover {
	background: #15a4fa;
}
.head__link:hover {
	color: white;		
}

/***** MAIN *****/

.main {
    display: flex;
    overflow-y: hidden;
	height: 100%;
	justify-content: space-between;
	align-items: stretch;
}

/***** LEFT-SIDE *****/

.left-side {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
	width: 200px;
	flex-shrink: 0;
	background: #19202e;
}
.left-side > * {
	background: #1f2637;
	border-top: 1px solid #282f41;
	border-bottom: 1px solid #141824;
}
.left-side i {
	padding: 0 15px;
}
.nav__link, .history__link {
	display: block;
	height: 100%;
	color: #6c758f;
	padding: 5% 0;
}
.addpanel {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: transparent;
	height: 110px;	
}
.add__link {
	display: inline-block;
	line-height:45px;
    vertical-align: middle;
	width: 160px;
	height: 45px;
	background: #f2795a;
	border-radius: 5px;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
}
.add__link:hover {
	background: #ff562b;
}

.mainnav {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: column;
	display: flex;
	flex-direction: column;
	height: 220px;
	font-size: 11pt;
}
.personalcategories {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-direction: column;
	height: 160px;
	font-size: 11pt;
}
.personalcategories .nav__link:before {	
	content: '';    
    display: inline-block;
    vertical-align: middle;
	width: 7px;
	height: 7px;
	border-radius: 100%;
	margin: 0 15px 0 20px;
}
.category1 .nav__link:before {
	background: #e64c66;	
}
.category2 .nav__link:before {
	background: #ffab00;
}
.category3 .nav__link:before {
	background: #00bfdd;
}
.category4 .nav__link:before {
	background: #7874cf;
}
.historypanel {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;
	display: flex;
	flex-direction: column;
	border-bottom: transparent;
	height: 335px;
	font-size: 10pt;
}
.historyitem {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin: 20px 0;
}

.history_wide {
	text-transform: capitalize;
	color: #7e96ae;
	font-weight: bold;
}
.mainnav > *, .personalcategories > * {
	height: 100%;
}	
.mainnav > *:hover, .personalcategories > *:hover {
	background: #15a4fa;
}
.nav__link:hover {
	color: white;		
}

/***** CONTENT SECTION *****/

.contentsection {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;
	flex-grow: 1;
	
}

/***** HEAD SECTION *****/

.headsection {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;
	width: 100%;
	height: 115px;
	flex-shrink: 0;
	background: #eef1f7;
	border-bottom: 1px solid #dadfea;
}
.mainheader {
	padding: 20px 0 0 25px;
	font-size: 18pt;
	font-weight: bold;
	color: #444c63;
	border-bottom: 1px solid #dadfea;
	text-transform: capitalize;
	flex-grow: 3;
}
.filtersearch {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-grow: 2;
}
.filter {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.filter__link {
	color: #8c97b2;
}
.filter > * {
	display: inline;
	text-align: center;
	margin: auto;
	height: 18px;
	padding: 2px 5px;
	margin: auto 15px;
	font-size: 10pt;
	font-weight: bold;
	text-transform: capitalize;
	border-radius: 12px;
}
.filter > *:hover {
	background: #8c97b2;
}
.filter__link:hover {
	color: white;
}
.search {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border: 1px solid #c7cddb;
	padding: 2px 10px 2px 15px;
	width: 30%;
	min-width: 200px;
	height: 26px;
	background-color: white;
	border-radius: 30px;
	margin: auto 20px;
}
input[type="text"]{
	border: none;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
	height: 26px;
	vertical-align: top;
	background-color: white;
	color: #8c97b2;
	font-size: 12px;
	font-weight: bold;
	padding: 0 8px 0 0;
}
button[type="submit"]{
	border: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 26px;
	color: #8c97b2;
	background-color: white;
	cursor: pointer;
}

/***** MAIN SECTION *****/

.mainsection {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;
	width: 100%;
	height: 1000px;
	overflow-y: auto;
	scrollbar-3dlight-color: white; 
	scrollbar-arrow-color: white;
	scrollbar-highlight-color: white;
	scrollbar-face-color: #ccd5e4;
	scrollbar-shadow-color: white;
	scrollbar-darkshadow-color: white;
	scrollbar-track-color: white;
}

.bookline1, .bookline2 {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin: 25px 15px 0 15px;
}
.book__link {
	
	color: #444c63;
}
.book {
	font-size: 10pt;
}
.book span {
	font-size: 14pt;
	font-weight: bold;
}
.book .fa-star, .book .fa-star-half-o, .book .fa-star-o {
	color: #ffab00;
	font-size: 12pt;
	padding: 5px 0;
}
.image {
	width: 200px;
	height: 278px;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 0 0 15px 0;
}
#image1 {	
	background-image: url(Images/img01.png);
}
#image2 {	
	background-image: url(Images/img02.png);
}
#image3 {	
	background-image: url(Images/img03.png);
}
#image4 {	
	background-image: url(Images/img04.png);
}
#image5 {	
	background-image: url(Images/img05.png);
}
#image6 {	
	background-image: url(Images/img06.png);
}
#image7 {	
	background-image: url(Images/img07.png);
}
#image8 {	
	background-image: url(Images/img08.png);
}
#image9 {	
	background-image: url(Images/img09.png);
}
#image10 {	
	background-image: url(Images/img10.png);
}

/***** FOOTER *****/

.footer {	
    display: flex;
	justify-content: flex-end;
	height: 42px;
	background: #181e2c;
    text-align: center;
}
.footerbox {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-basis: 110px;
	background: #1f2637;
}
.footer a {	
	display: inline-block;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	line-height:42px;
    vertical-align: middle;
}
.footerbox > * {
	flex-basis: 50%;
}
.footerbox > *:hover {
	background: #15a4fa;
}